<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <label>Marques </label>
    <select
      class="form-control form-control-lg"
      id="idMar"
      name="idMar"
      [(ngModel)]="IdMarque"
      (change)="onChange()"
    >
      <option *ngFor="let mar of marques" value="{{ mar.idMar }}">
        {{ mar.nomMar }}
      </option>
    </select>
  </div>
  <div class="card shadow mt-4">
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Lib Accessoire</th>
          <th>Prix</th>
          <th>Date Création</th>
          <th>Marque</th>
        </tr>
        <tbody *ngFor="let accessoire of accessoires">
          <tr>
            <td>{{ accessoire.idAccessoire }}</td>
            <td>{{ accessoire.libAccessoire }}</td>
            <td>{{ accessoire.prixAccessoire }}</td>
            <td>{{ accessoire.dateCreation | date : "dd/MM/yyyy" }}</td>
            <td>{{ accessoire.marque.nomMar }}</td>
            <td>
              <a
                class="btn btn-danger"
                (click)="supprimerAccessoire(accessoire)"
                >Supprimer</a
              >
            </td>
            <td>
              <a
                class="btn btn-success"
                [routerLink]="['/updateAccessoire', accessoire.idAccessoire]"
                >Modifier</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
